apiVersion: v1
kind: Secret
metadata:
  name: <db-user-secret>  # corresponds to spec.users.passwordSecretRef.name in the MongoDB CRD
type: Opaque
stringData:
  password: <my-plain-text-password> # corresponds to spec.users.passwordSecretRef.key in the MongoDB CRD
